# Codeowners to all the files
* @gbaranov
* @Rom-T
* @Keldieva
* @LMalushkina
* @Yuriy-SE

# Codeowners to all the workflows
.github/ @Elgrueber
.github/ @Rom-T
.github/ @Keldieva
.github/ @OlgaAutomation4
.github/ @sashakolsky
