# Codeowners to all the files
* @gbaranov
* @Rom-T
* @Keldieva
* @LMalushkina
* @Yuriy-SE
* @OlgaAutomation4

# Codeowners to all the workflows
.github/ @Elgrueber
.github/ @Rom-T
.github/ @sashakolsky
